.vscode/
.idea/
**/__pycache__/
.ipynb_checkpoints/

# latex stuff
formulas/
!formulas/formulas.pdf
!formulas/formulas.tex

report/
!report/report.pdf
!report/report.tex

mnist_data/

test_cases_generated/conv*/not_robust/*
test_cases_generated/conv*/maybe_robust/*
test_cases_generated/conv*/verifiable/*
test_cases_generated/fc*/not_robust/*
test_cases_generated/fc*/maybe_robust/*
test_cases_generated/fc*/verifiable/*

# torchviz uses random node labels so it generates different stuff at each execution, so cannot be added on git
graphviz_outputs/
